:root {
    --primary-color: #080926;
    --secodary-color: #0B0D40;
    --tertiary-color: #1A0859;
    --quaternary-color: #2A26A6;
    --quinary-color: #C252F2;
    --light-color: white;
    --dark-color: black;
}

*{
    outline: 1px solid crimson;
}

header {
    width: 100%;
    height: 80px;
    background: var(--primary-color);
    background: radial-gradient(circle, var(--primary-color) 0%, var(--secodary-color) 25%, var(--tertiary-color) 48%, var(--quinary-color) 54%, var(--quaternary-color) 82%);
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    padding: 4px;
}

header .item {
    outline: 1px solid skyblue;
    padding: 8px;
    border-radius: 8px;
    min-width: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}

header .item a {
    text-decoration: none;
    color: var(--light-color);
    font-size: 1.2rem;
}